@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@1,700&family=Poppins:ital,wght@1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-nav {
    background-color: rgb(221, 185, 86);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 73px;
    position:sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 20px;
    height: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2%;
}

h2 {
    font-size: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(156, 114, 51);
}

.tittle {
    display: flex;
    margin-left: 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

img{
    width: 71px;
    height: auto;
    margin-left: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

.home:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.about:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.service:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.more:hover {
    list-style: circle;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.li-home:hover {
    list-style-image: url(./images/icon-home.png);
}

.li-about:hover {
    list-style-image: url(./images/icon-about.png);
}

.li-service:hover {
    list-style-image: url(./images/icon-service.png);
}

.li-more:hover {
    list-style-image: url(./images/icon-more.png);
}

.main {
    color: white; 
    background-image: url(./images/sec-one-img.jpg);
    background-size: 100vw;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}


article {
    width: 65vh;
    height: 65vh;
    background-color: aquamarine;
}

.first-art {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 48px;
}

h1 {
    font-size: 41px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.p-fisrt {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

span {
    color: #c28775;
}

.button-first {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button-first button {
    background-color: transparent;
    width: 90px;
    height: 36px;
    cursor: pointer;
    border-radius: 25px;
}

.button-fa:hover {
    background-color: #c2877580;
    transition: 1s ease;
}

.second-art {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.second-art img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.second-art button {
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    top: 340px;
    left: 175px;
    width: 90px;
    height: 36px;
}

.buttom-cat:hover {
    background-color: #c2877580;
    transition: 1s ease;
}

.section-two {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-diseno-acuarela-color-marron-suave_1055-8934.jpg?w=2000);
    border-top: 5px solid white;
}

.info-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.452);
    height: 330px;
}

.h2-about {
    color: wheat;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-top: 32px;
}

.p-two {
    color: wheat;
    text-align: center;
    width: 40vw;
    margin-top: 65px;
    font-size: 22px;
    font-weight: 600;

}

.tittle-benefits {
    margin-top: 35px;
    text-align: center;
}

.tittle-benefits h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
}

.tittle-benefits p{
    font-size: 25px;
}

.sec-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffe4c9, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffe4c9, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 3px solid white;

}

.article-benefits {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.benefit-ico {
    font-size: 50px;
    margin-bottom: 10px;
}

.benefit-art h2 {
    margin-bottom: 15px;
    color: black;
}

.benefit-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff980024;
    border-radius: 10px;
}

.p-benefit {
    width: 75%;
    margin-top: 15px;
}

.sec-three{
    height: 80vh;
    background-color: #eacda3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 5px solid white;
}

.art-work{
    background-color: #ff980024;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-work{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tittle-work h2 {
    text-transform: uppercase;
    color: black;
}

.art-work h2{
    font-size: 16px;
    color: black;
}

.art-work i {
    font-size: 30px;
    margin-bottom: 30px;
}

.art-work img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.art-work p {
    text-align: center;
    width: 85%;
    margin-top: 15px;
    font-size: 16px;
    color: black;
}
